@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    background-color: #264653;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 6rem;
    text-align: center;
    color: whitesmoke;
    @media(max-width: 768px) {
        font-size: 3rem;
    }
}